.movie {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.movie-poster-row {
  height: 670px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.movie-poster-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.movie-poster {
  object-fit: cover;
  width: 100%;
  height: 670px;
  opacity: 0.2;
}

.movie-det-section {
  background: rgba(0, 0, 0, 0.9);
}
.movie-det-col {
  text-align: left;
}
.movie-det-row {
  color: white;
  /* text-align: left; */
  position: absolute;
  margin-top: -620px;
  left: 0;
  z-index: 1;
  right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.movie-img {
  width: 350px;
  height: 500px;
  /* position: absolute;
  top: auto;
  bottom: auto;
  left: 50px; */
}
.movie-title {
  font-size: 35px;
  font-weight: 500;
}
.content-rating {
  border: 1px solid #fff;
}
.movie-genres {
  margin-left: 20px;
  font-size: 15px;
}
.movie-genres:before {
  content: ' \25CF';
  font-size: 13px;
  margin-right: 3px;
}
.runtime {
  margin-left: 20px;
  font-size: 15px;
}
.runtime:before {
  content: ' \25CF';
  font-size: 13px;
  margin-right: 3px;
}

.general-info {
  display: inline;
}
.genre-runtime-list li {
  display: inline-block;
}
.overview {
  margin-top: 30px;
}
.imdb-ratings {
  margin-top: 30px;
}
.imdb-rating {
  font-size: 20px;
}
.stars-list {
  margin-top: 30px;
}
.star-list {
  margin-left: -40px;
}
.star-list li {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 10px;
}
.star-img {
  object-fit: contain;
  height: 30px;
}
.book-ticket-btn {
  margin-top: 30px;
}
.book-tkt-btn {
  opacity: 0.8;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .movie-poster-row {
    height: 1200px;
  }
  .movie-poster {
    object-fit: cover;
    width: 100%;
    height: 1200px;
    opacity: 0.3;
  }
  .movie-img {
    width: 250px;
    height: 350px;
    /* position: absolute;
    top: auto;
    bottom: auto;
    left: 50px; */
  }
  .movie-det-row {
    color: white;
    /* text-align: left; */
    position: absolute;
    margin-top: -1150px;
    left: 0;
    z-index: 1;
    right: 0;
  }
  .movie-det-col {
    text-align: left;
    padding: 50px;
  }
}
.recommended-movie-row {
  padding: 50px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
