.main-od-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.od-tableDisplay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.od-tableBody {
  font-size: 18px;
}

.od-movieTitle {
  text-decoration: none;
  color: black;
}
.od-movieTitle:hover {
  text-decoration: none;
  color: black;
}

.od-row {
  padding: 20px;
}

.od-movie-img {
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.emptyOrders-img {
  object-fit: contain;
  width: 600px;
  height: 350px;
}

@media only screen and (max-width: 980px) {
  .od-movie-img {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }
  .emptyOrders-img {
    object-fit: contain;
    width: 300px;
    height: 170px;
  }
  .main-od-container {
    padding: 3px;
    font-size: 10px;
  }
  .od-tableBody {
    font-size: 10px;
  }
  .order-title {
    font-size: 18px;
  }
}
